<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Buscando nomes usando ajax</title>
    </head>

    <body>

        <pre>

            <div>

                <label for="nome">Nome: </label>
                <input type="text" id="nome" onchange="mostrar(this.value)">  
                
    
            </div>


            <div id="ajax">

                Aqui será alterado

            </div>

        </pre>
        
        
        
    </body>

    <script src="ajax/buscar.js"></script>

    

</html>